<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
        <httpErrors>
            <error statusCode="404" path="/404.html" responseMode="Redirect" />
        </httpErrors>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
			<rules>
				<rule name="Add WWW and https" enabled="true" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^grapeui\.com" />
					</conditions>
					<action type="Redirect" url="https://www.{C:0}{PATH_INFO}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
  </system.webServer>
</configuration>
